<div class="container-fluid"> 
    <div class="d-flex flex-wrap justify-content-center align-itens-center">
        <div class="text-center m-4 p-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <ul style="list-style: none" class="m-1 p-1"> 
                    <li id="title">Title</li>
                    <li id="body">{{post?.title}}</li>
                <br>
                    <li id="title">Text</li>
                    <li id="body">{{post?.message}}</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
